@charset "UTF-8";

:root {
    --cor0: #FFFFFF;
    --cor1: #EBEBEB;
    --cor2: #425064;
    --cor3: #334053;
    --cor4: #223046;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body, main {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 83.1vh;
}

p {
    margin: 0px 60px;
    padding-bottom: 10px;
}


/****************************** Responsividade ******************************/

@media screen and (orientation: portrait) { 
}

@media screen and (orientation: landscape) {
}


/****************************** md screen Tablet ******************************/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    header {
        border: 1px solid rgb(0, 0, 0);
        text-align: center;
    }

    main {
        background-color: rgb(223, 223, 223);
      }

/****************************** Página Index ******************************/

    h1#pag-inicial {
        font-size: 2.2em;
        padding: 25px;
    }

    section#section-inicial {
        width: 100vw;
        display: block;
    }

    div#logo-inicial > img {
        width: 400px;
        margin: 200px 0px 150px 0px;
    }

    
/****************************** Página inicial ******************************/    

    header > a > img {
        width: 220px;
        padding: 20px;
    }

    header > i#burguer {
       display: none;
    }

    menu#itens {
        position: absolute;
        left: 0;
        margin: 1px 0px 0px 0px;
        box-sizing: border-box;
        width: 26.8vw;
        height: 83.1vh;
    }

    menu > ul {
        background-color: var(--cor3);
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0px;       
    }

    menu > ul > li {
        text-align: left;
        margin-left: 15px;
        padding: 30px 0px 0px 0px;
        width: 100%;
        min-width: 250px;
    }

    menu > ul > li > a {
        display: inline;
        background-color: var(--cor3);
        position: relative;
        font-size: 1.3em;
        border: none;
        padding: 10px;
    }

    menu > ul > li > a::after {
        content: " ";
        width: 0%;
        height: 3px;
        background-color: gold;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    menu > ul > li > a:hover::after {
        width: 100%;
    }

    #empresa {
        margin: 0%;       
    }

    #espaco {
        position: absolute;
        bottom: 0;
        padding: 20px 15px;
        font-size: 0.8em;
        background-color: var(--cor4);
        width: 100%;        
    }

    #espaco:hover {
        color: gold;
    }

    section#conteudo {
        width: 73%;
        height: 100%;
        position: absolute;
        top: 84px;
        right: 0;
        background-color: var(--cor1);
    }  

    iframe {
        width: 100%;
        height: 100%;
    }

/**************************** Página Lorem Ipsum ****************************/

    div.textos {
        width: 100%;
        text-align: center;
    }
    


/********************************** Página Marcus Tremer **********************************/

    #marcus {
        text-align: center;
    }

    #m-tremer {
        display: block;
        text-align: center;
    }
  
    #m-tremer-img {
        width: 50vw;
        border-radius: 25px;
        box-shadow: 2px 0px 3px 1px rgba(172, 146, 146, 0.322);
    }
  
    #descricao-mtremer {
        width: 100vw;
        margin-bottom: 20px;
    }

/********************************** Rodapé **********************************/

    footer {
        display: block;
        margin: 0px 0px;
        padding: 10px 0px;
    }

    footer > p {
        font-size: 1.1em;
    }
}


        /* xlg screen Laptop 1024 x 1140 */

@media screen and (min-width: 1024.02px) and (max-width:1440px) {
   

    /****************************** Página Index ******************************/
    /****************************** Página Inicial ******************************/
    /************************** Página Quantum Solum **************************/
    /************************** Página Marcus Tremer **************************/
    /********************************* Rodapé *********************************/
}


/* xxlg screen */
@media screen and (min-width: 1600px) {}

/* Mudança de background para abrir a tab content

$screen-xs   = 520px  // Extra small screen / phone
$screen-sm   = 768px  // Small screen / tablet
$screen-md   = 992px  // Medium screen / desktop
$screen-lg     = 1200px // Large screen / wide desktop
$screen-xlg    = 1400px // Extra Large screen / wide desktop
$screen-xxlg   = 1600px // Extra Large screen / wide desktop

*/