@charset "UTF-8";

:root {
    --cor0: #FFFFFF;
    --cor1: #EBEBEB;
    --cor2: #425064;
    --cor3: #334053;
    --cor4: #223046;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*********** Responsividade *************/

@media screen and (orientation: portrait) { 
}

@media screen and (orientation: landscape) {
}


         /* md screen Tablet */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    h1#pag-inicial {
        font-size: 2.2em;
        padding: 30px;
    }

    header {
        border: 2px solid black;
        height: 8.4vh;
        text-align: center;
    }

    header > a > img {
        width: 220px;
        padding: 20px;
    }

    header > i#burguer {
       display: none;
    }

    div#logo-inicial > img {
        width: 400px;
        margin: 134px 0px 150px 0px;
    }

    menu#itens {
        width: 30%;
        border: 1px solid red;
        position: absolute;
    }

    menu > ul {
        background-color: var(--cor1);
        display: block;               
    }

    menu > ul > li {
        text-align: left;
        margin-left: 15px;
        padding: 30px 0px 0px 0px;
    }

    menu > ul > li > a {
        display: inline;
        background-color: var(--cor3);
        position: relative;
        font-size: 1.3em;
        border: none;
        padding: 10px;
    }

    menu > ul > li > a::after {
        content: " ";
        width: 0%;
        height: 3px;
        background-color: gold;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    ul > li > a:hover::after {
        width: 100%;
    }

    #empresa {
        margin: 475px 0px 0px 0px;
        
    }

    #espaco {
        text-align: center;
        display: block;
        margin: 2px 0px 0px 0px;
        padding: 20px 0px;
        font-size: 1em;
        background-color: var(--cor4);
    }

    #espaco:hover {
        color: gold;
    }

    section#conteudo {
        width: 70%;
        height: 83.1vh;
        margin: 0% 0% 0% 30%;;
        
    }
    #section-inicial{
        display: block;
        height: 80.9vh;
    }

    iframe {
        margin: -0.1% 0% 0% 0%;
        height: 100%;
        display: inline-block;       
    }

    footer {
        display: block;
    }

    footer > p {
        font-size: 1.1em;
        
    }
}

        /* xlg screen Laptop 1024 x 1140 */

@media screen and (min-width: 1024.02px) and (max-width:1440px) {
   
}


/* xxlg screen */
@media screen and (min-width: 1600px) {}

/* Mudança de background para abrir a tab content

$screen-xs   = 520px  // Extra small screen / phone
$screen-sm   = 768px  // Small screen / tablet
$screen-md   = 992px  // Medium screen / desktop
$screen-lg     = 1200px // Large screen / wide desktop
$screen-xlg    = 1400px // Extra Large screen / wide desktop
$screen-xxlg   = 1600px // Extra Large screen / wide desktop

*/