/* Configurações globais */

@charset "UTF-8";

:root {
    --cor0: #FFFFFF; 
    --cor1: #EBEBEB;
    --cor2: #425064;
    --cor3: #334053;
    --cor4: #223046;

    --fonte-padrao: arial,verdana, helvetica,sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

header {
  background-color: white;
  height: auto;
  text-align: center;
  margin-bottom: 1px;
}

/* Página Index */

body#pg-inicial {
  width: 100vw;
  height: 100vh;
  background-color: #EBEBEB;
}

h1#pag-inicial {
  padding: 25px;
  background-color: var(--cor4);
  color: white;
}

div#logo-inicial {
  text-align: center;
}

div#logo-inicial > img {
  width: 270px;
  margin: 107px 0px 150px 0px;
}


/* Página inicial */

header > a > img {
  width: 170px;
  padding: 15px;
}

header > i#burguer {
  background-color: var(--cor4);
  color: white;
  display: block;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

header > i#burguer:hover {
  color: gold;
}

menu {
  display: none;
}


menu > ul {
  list-style-type: none;
}

menu > ul > li > a {
  display: block;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  background-color: var(--cor3);
  color: var(--cor1);
  border-top: 2px solid var(--cor1);
}

menu > ul > li > a:hover {
  color: gold;
}

h1 {
  padding: 15px;
  text-align: center;
}

p {
  font-size: 1.1em;
  text-align: justify;
  margin: 0px 35px;
  text-indent: 25px;
  margin-bottom: 10px;
}

section, iframe {
  height: 75.1vh;
  width: 100%;
}

details {
  display: block;
  width: 100vw;
}

details[open] summary::after {
  content: "-";

}

summary {
  display: flex;
  background: rgb(219, 219, 219);
  color: rgb(0, 0, 0);
  padding: 8px;
  cursor: pointer;
  font-weight: 600;
  justify-content: flex-start;
  align-items: center;
  margin: auto 0px 0px auto;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "+";
  font-size: 1.3em;
  font-weight: 500;
  margin: auto 0px 0px auto;
  padding: 4px;
  display: flex;
  justify-content: flex-end;
}

label {
  margin-left: 5px;
  font-size: 1.1em;
}

input {
  margin: 10px 5px 20px 0px;
  width: 25px;
  height: 25px;
  box-shadow: 1px 1px 2px 1px rgb(202, 195, 195);
  outline: none;
  cursor: pointer;
}

input:focus {
  background-color: rgb(255, 246, 246);
  font-size: 1.2em;
}

::placeholder {
  color: #003bfc50;
  font-size: 0.9em;
  font-weight: bold;
}

/* Página Utilizador */

#dados-utilizador {
  width: 100%;
  display: block;
  padding-bottom: 0px;
  background-color: rgba(240, 239, 239, 0.192);
}

#dados-utilizador > .tipo-utilizador > .primeiro {
  display: flex;
  align-items: center;
}

.primeiro {
  padding: 15px 25px;
}

.primeiro > input {
  margin: 0px;
}

.primeiro > label {
  margin-left: 15px;
}

.contato {
  width: 100vw;
  height: auto;
  padding-bottom: 5px;
  background: rgba(240, 239, 239, 0.192);
  display: block;
}

.contato > input {
  display: block;

}

.dados-contato {
  align-items: center;
  margin: 25px 20px 15px 20px;
  display: inline-block;
}

.email > input {
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.904);
  border: none;
  box-shadow: 0px 2px 0px 0px rgba(202, 195, 195, 0.356);
  margin-left: 5px;
}

#phone {
  display: block;
}

#div-entrar {
  text-align: center;
  height: 38.5vh;
}

div#div-entrar > a#link-entrar {
  width: 150px;
  height: 30px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.438);
  padding: 12px 35px;
  background-color: var(--cor4);
  color: var(--cor0);
  font-size: 1.8em;
  font-weight: 600;
  cursor: pointer;
}

#link-entrar:hover {
  background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
  
}

a#link-entrar:active {
  background-image: linear-gradient(to bottom, var(--cor4), var(--cor2));
 
}

.btns {
  width: 220px;
  height: 50px;
  margin-top: 30px;
}

#botoes {
  text-align: center;
}

#btn-cancelar {
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.356);
  background-color: #ffffff;
  font-size: 1.2em;
  font-weight: bolder;
}

#btn-cancelar:hover {
  background-image: linear-gradient(to bottom, #f51b1b, red);
  color: #ffffff;
}

#btn-cancelar:active {
  background-color: #ff0101;
  background-image: linear-gradient(to bottom, red, #b33f3f);
}

#btn-guardar {
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.356);
  background-color: #0084ff;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bolder;
  margin: auto;
  margin-bottom: 20px;
}

#btn-guardar:hover {
  background-image: linear-gradient(to bottom, #0084ffe0, blue);
  color: #ffffff;
}

#btn-guardar:active {
  background-color: #0084ffe0;
  background-image: linear-gradient(to bottom, blue, #0084ffe0);
}

/* Página Marcus Tremer */

#m-tremer {
  display: block;
}

#m-tremer-img {
  width: 80vw;
  margin: 0px 5px 15px 42px;
  border-radius: 25px;
  box-shadow: 2px 0px 3px 1px rgba(172, 146, 146, 0.322);
}

#descricao-mtremer {
  width: 100vw;
}


/* Rodapé */

footer {
  background-color: black;
  padding: 5px;
}

footer > p {
  color: goldenrod;
  font-size: 0.7em;
  text-align: center;
  margin: 0px;
  padding: 25px 0px;
}

footer > p > a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

footer > p > a:hover {
  color: aqua;
}



