

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  font-size: 0.9em;
}

h1 {
  margin: 25px;
}

p {
  margin: 25px;
  text-align: justify;
}

details {
    display: block; 
    width: auto;
    margin: 25px 25px 0px 25px;
  }
  
  summary {
    display: flex; 
    background: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    padding: 8px;
    cursor: pointer;
    font-weight: 600;
    justify-content: flex-start;
    align-items: center;
  }
  
  summary::-webkit-details-marker {
     display: none;
  }
  
  summary::after {
     content: "+";
     font-size: 1.3em;
     font-weight: 500;
     margin: auto 15px 0px auto;
     padding: 4px;
     display: flex;
     justify-content: flex-end;
     align-items: center;  
     
  }
  
  details[open] summary::after {
    content: "-";
    
  }

  #dados-utilizador {
    display: block;
    align-items: center;
  }

  .tipo-utilizador {
    width: auto;
    height: auto;
    min-height: 190px;
    background: rgb(255, 246, 246);
    display: block;
  }

  input {
    margin: 10px 2px 10px 25px;
    width: 20px;
    height: 20px;
    box-shadow: 1px 1px 2px 1px rgb(202, 195, 195);
    outline: none;
    cursor: pointer;
  } 
  
  ::placeholder {
    color: #97979736;
  }
  
  .contato {
    width: auto;
    height: auto;
    min-height: 200px;
    background:rgb(255, 246, 246);
    display: block;
  }

  .dados-contato {
    align-items: center;
    margin: 25px 50px 10px 20px;
    display: inline-block;
  }

  .primeiro {
    display: flex;
    align-items: center;
    padding-top: 15px;
  }
  
  label {
    margin-left: 5px;
  }

  #contato {
    width: auto;
    height: 150px;
  }

  #contato > input {
    display: block;
    border: 3px solid red;
  }

  input:focus {
    background-color: rgb(255, 246, 246);
  }

  .detalhes {
    margin: 0px 25px 1px 25px;
  }
 
  .email > input {
    width: auto;
    background-color: rgb(255, 246, 246);
    border: none;
    box-shadow: 0px 2px 0px 0px rgba(202, 195, 195, 0.356);
    margin-left: 5px ;
  }

  ::placeholder {
    font-size: 0.9em;
    font-weight: bold;
  }

  #phone {
    display: block;
  }

  #container-tremer {
    min-width: 300px;
    display: flex;
  }

  #m-tremer {
    margin: 0px 0px 15px 0px;
    display: block;
  }
 
  #m-tremer-img {
    width: 25vw;
    min-width: 200px;
    margin: 0px 10px 0px 25px;    
    border-radius: 25px 2px;
    box-shadow: 2px 0px 3px 1px rgba(172, 146, 146, 0.322); 
  }

  #descricao-mtremer {
    width: auto;
    display: inline;
  }

  #descricao-mtremer > p {
    margin-left: 10px;
    margin-top: -1px;
    font-size: 1.1em;
    letter-spacing: 0.02cm;
    display: block;
  }
  

  #container {
    width: auto;
    min-width: 250px;
    margin: 0px 24px 0px 24px;
  }

  #botoes {
    text-align: end;
  }

  .btns {
    min-width: 120px;
    width: 180px;
    height: 30px;
    cursor: pointer;
    margin-top: 25px;
  
  }

  #btn-cancelar {
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    background-color: #ffffff;    
    font-weight: bold;
  }

  #btn-cancelar:hover {
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgba(202, 170, 170, 0.356);
    background-image: linear-gradient(to bottom, #b33f3f, red);    
    font-weight: bold;
    color: #ffffff;
  }

  #btn-cancelar:active {
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    background-color: #ff0101;
    background-image: linear-gradient(to bottom, red, #b33f3f);
    font-weight: bold;
  }

  #btn-guardar {
    border-radius: 0px 10px 10px 0px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    background-color: #0084ff;
    color: #ffffff;
    font-weight: bold;
    margin: auto 5px;
  }

  #btn-guardar:hover {
    border-radius: 0px 10px 10px 0px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    background-image: linear-gradient(to bottom, #0084ffe0, blue);
    color: #ffffff;
    font-weight: bold;
    
  }

  #btn-guardar:active {
    border-radius: 0px 10px 10px 0px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    background-color: #0084ffe0;
    background-image: linear-gradient(to bottom, blue, #0084ffe0);
    color: #ffffff;
    font-weight: bold;
  }

 

  /* Responsividade */


@media screen and (min-width: 200px) and (max-width:620px) {

  #container {
    width: auto;
    min-width: 200px;
  }

  .btns {
    width: 220px;
    height: 50px;  
  }

  #botoes {
    text-align: center;
  }

  #btn-cancelar {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    background-color: #ffffff;    
    font-weight: bold;
    margin-left: auto;
  }

  #btn-cancelar:hover {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    background-image: linear-gradient(to bottom, #f51b1b, red);    
    font-weight: bold;
    color: #ffffff;
  }

  #btn-cancelar:active {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    background-color: #ff0101;
    background-image: linear-gradient(to bottom, red, #b33f3f);
    font-weight: bold;
  }

  #btn-guardar {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    background-color: #0084ff;
    color: #ffffff;
    font-weight: bold;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  #btn-guardar:hover {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    background-image: linear-gradient(to bottom, #0084ffe0, blue);
    color: #ffffff;
    font-weight: bold;
  }

  #btn-guardar:active {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    background-color: #0084ffe0;
    background-image: linear-gradient(to bottom, blue, #0084ffe0);
    color: #ffffff;
    font-weight: bold;
  }

  h1 {
    text-align: center;
  }


  #container-tremer {
    min-width: 200px;
    display: block;
  }

  #m-tremer {
    margin: 0px 0px 0px 0px;
    text-align: center;
    display: block;
  }
 
  #m-tremer-img {
    width: 25vw;
    min-width: 250px;
    margin: 0px;    
    border-radius: 25px 2px;
    box-shadow: 2px 0px 3px 1px rgba(172, 146, 146, 0.322); 
  }

  #descricao-mtremer {
    width: auto;
    display: block;
  }

  #descricao-mtremer > p {
    margin: 15px;
    font-size: 1.1em;
    letter-spacing: 0.02cm;
    display: block;
  }
  
  

}
